{% extends "main.j2" %}

{% block body %}

{% if error is defined %}
    <div class="isa_error">
        <i class="fa fa-times-circle"></i>
        Your Request Errored: {{error}}
    </div>
{% endif %}

{% if success is defined %}
    <div class="isa_success">
        <i class="fa fa-check"></i>
        Request Succeeded!
    </div>
{% endif %}

{% if inventories|count == 0 %}
    <div class="isa_info">
        <i class="fa fa-info-circle"></i>
        No inventories in table. Please add inventories to interact with them.
    </div>
{% endif %}

<br>

<form action="{{ url_for("inventories")}}" method="post">
    <h2>Enter a new Inventory:</h2>

    <br>
    <label for="location">Location</label>
    <input type="text" id="location" name="location" placeholder="Enter location"/>

    <br><br>
    <input type="submit" value="Enter" />
</form>

{% if inventories|count > 0 %}

<br>
<h2>Inventories:</h2>

<label for="searchParam">Search:</label>
<input type="text" id="searchParam" placeholder="Enter Search Query" onkeyup="tableSearch()">
<br>
<br>
<table class="table" id="pageTable">
<thead class="thead-dark">
<tr>
    <!-- Iterate through each key in the first entry to get the
    column name -->
    {% for key in inventories[0].keys() %}

    <!-- Create a <th> tag with the key inside of it, this will be
    our header row -->
    <th>{{ key }}</th>

    <!-- End of this for loop -->
    {% endfor %}
    <th> Delete Entry </th>
</tr>
</thead>
<tbody>
<!-- Now, iterate through every inventory in inventories -->
{% for inventory in inventories %}
<tr>
    <!-- Then iterate through every key in the current inventory dictionary -->
   
    {% for key in inventory.keys() %}
    
    <!-- Create a <td> element with the value of that key in it -->
    <td>{{inventory[key]}}</td>
    {% endfor %}
    <td>
        <form action="/inventories/inventory/delete/{{inventory['inventoryID']}}" method="post">
            <input type="submit" value="Delete" />
        </form>
    </td>

    
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% endblock %}